@media screen and (min-width: 480px) {
    :root{
        --gallery-box-gap: 2rem
    }
    /* ==== Navigation ===== */
    .main-nav{
        align-items: center;
        flex-direction: row-reverse;
    }

    /* ==== Gallery ===== */
    .gallery{
        flex-wrap: wrap;
        flex-direction: row;
        gap: var(--gallery-box-gap) var(--gallery-box-gap);
        justify-content: center;
    }
    
    .gallery__gallery-box{
        flex-basis:calc(50% - var(--gallery-box-gap)) ;
    }
}

@media screen and (min-width: 767px) {
    
    .wrapper{
        max-width: 76rem;
    }

    /* ==== Navigation ===== */
    .desktop-nav{
        width: 100%;
    }

    .desktop-nav__nav-list{
        display: flex;
    }
    
    .desktop-nav__nav-list li{
        background-color: #FFC106;
        flex: 1 1 0px;
        text-align: center;
        padding: 0.6rem 0;
        border-right: 1px #dca500 solid;
        border-left: 1px white solid;
    }

    .desktop-nav__nav-list li:hover,
    .desktop-nav__nav-list li:active{
        background-color: #ffc106cb;
    }

    .desktop-nav__nav-list li:first-child{
        border-left: none;
    }
    
    .desktop-nav__nav-list li:last-child{
        border-right: none;
    }
    
    /* ==== Gallery ===== */
    :root{
        --gallery-box-gap: 1.5rem
    }

    .gallery{
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    
    .gallery__gallery-box{
        flex-basis:calc(25% - var(--gallery-box-gap)) ;
    }

}

@media screen and (min-width: 990px){

     .wrapper{
        max-width: 100rem;
        flex-direction: row;
        flex-wrap: wrap;
     }

     .main-nav{
        flex-basis: 20%;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: start;
     }

     .main-nav__nav-list{
        justify-content:flex-start;
        gap: 0 1.2rem;
        flex-direction: column;
    }

     .main{
        flex-basis: 80%;
     }

     .footer{
        flex-basis: 90%;
     }
}

@media screen and (min-width: 1200px){
    .wrapper{
        max-width: 1200rem;
     }
}